html {
    overflow: scroll;
    font-family: sans-serif;
    --aero-blue: #daffedff;
    --celeste: #9bf3f0ff;
    --green-blue-crayola: #0582caff;
    --blue-pigment: #473198ff;
    --blue-violet-color-wheel: #4a0d67ff;;
}

body {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: var(--aero-blue);
}

header {
    box-sizing: border-box;
    height: 150px;
    padding-top: 30px;
}

h1 {
    text-align: center;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--green-blue-crayola);
    border-top: 1mm solid var(--blue-violet-color-wheel);
    border-bottom: 1mm solid var(--blue-violet-color-wheel);
    display: flex;
    justify-content: space-around;
}
a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: var(--aero-blue);
}

main {
    display: block;
    text-align: left;
    background-color: white;
    margin: 0%;
}

div.info-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

div#info-section-subsection {
    display: flex;
    flex-flow: column wrap;
    border: 1mm solid gray;
    box-sizing: border-box;
    justify-self: flex-start;
    height: auto;
    width: 80%;
    margin: 5px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--green-blue-crayola);
    border-top: 1mm solid var(--blue-violet-color-wheel);
    border-bottom: 1mm solid var(--blue-violet-color-wheel);
    color: var(--aero-blue);
    margin: 10px 0;
}

#places-to-visit-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.places-to-visit-elements {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;
    border-top: 0.1mm solid red;
    align-items: center;
}

.places-to-visit-img-element {
    max-width: 100%;
    height: auto;
}

.form-container {
    margin: 35px auto;
    box-sizing: border-box;
}

.form-elements {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 10px auto;
}
