html {
    overflow: scroll;
    font-family: sans-serif;
    font-size: large;
    --aero-blue: #daffedff;
    --celeste: #9bf3f0ff;
    --green-blue-crayola: #0582caff;
    --blue-pigment: #473198ff;
    --blue-violet-color-wheel: #4a0d67ff;

}

body {
    display: block;
    margin: auto;
    width: 1280px;
    text-align: center;
    background-color: whitesmoke;
}

header {
    box-sizing: border-box;
    height: 200px;;
    padding-top: 30px;
    border-radius: 10px;
    background-origin: border-box;
    background-position: center;
    background-blend-mode: darken;
    image-rendering: crisp-edges;
}

header.page-1 {
    background-image: url('./images/city-heading-page-1.jpg');
}

header.page-2 {
    background-image: url("./images/city-heading-page-2.jpg");
}

header.page-3 {
    background-image: url("./images/city-heading-page-3.jpg");
}

header.page-4 {
    background-image: url("./images/city-heading-page-4.jpg");
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-top: 5px;
}

.style-1 {
    background-color: red;
    border: 0.1mm solid black;
    box-shadow: 10px 5px 5px lightpink;
    border-radius: 5mm;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: white;
}

main {
    display: block;
    text-align: left;
    background-color: rgba(80  , 80, 80, 0.1);
    margin: auto 10px;
    padding: 10px;
}

div.info-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

div#info-section-subsection {
    display: flex;
    flex-flow: column wrap;
    border: 1mm solid gray;
    box-sizing: border-box;
    justify-self: flex-start;
    height: auto;
    width: 80%;
    margin: 5px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: white;
}

#places-to-visit-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.places-to-visit-elements {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;
    border-top: 0.1mm solid red;
    align-items: center;
}

.places-to-visit-img-element {
    max-width: 100%;
    height: auto;
}

.form-container {
    margin: 35px auto;
    box-sizing: border-box;
}

.form-elements {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 10px auto;
}
